@media (max-width:3600px) {
	p{
		font-size:1.5rem;
	}
}

body{
	padding:0;

}
	
.bg-company-red {
    background-color: blue;
}

nav a{
	border: 1px solid;
	color: black !important;
	font-weight:bold;
	font-size:15px;
}

nav a:hover{
	background-color:white;
}

	
.jumbotron{
	margin:0 !important;
	color:white !important;
	min-height:740px;
	background:url(../img/jumboback.jpg) ;
	}

.jumbotron h1{

	color:white !important;
	font-size:140px !important;
	text-align:center;
	font-family: Dopestyle;
}
	
.jumbotron img{
	margin-left:80px;
}

.bangers{
	margin-left:150px;
}
	
span{
	float:right;
}
	
.sectionOne{
	
	
	color:white;
	padding:60px;
	min-height:740px;
	background:url(../img/guitar.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.sectionTwo{

	color:white;
	padding:60px;
	min-height:740px;
	background:url(../img/mic.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.sectionThree{

	color:white;
	padding:60px;
	min-height:740px;
	background:url(../img/keys.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.sectionThree a{
	margin-left:130px;
		
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 40px); /* Adjust as needed */
}

.box{
	color:white;
	float:right;
	background:black;
	border: 1px solid;
	padding: 10px;
	box-shadow: 5px 10px 8px #888888;
}

.box h2{
	padding-top:5px;
	text-align:center;
	font-weight:bold;
	font-size:15px;
}

.box form{
	text-align:center;
}

footer{
	font-size:25px;
	background-color:black;
	text-align:center;
	color:white;
	min-height:100px;
	padding-top:25px;
	padding:25px;
}

footer a{
	padding:5px;
	color:blue;
	font-size:50px;
}


.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 4s infinite 4s;
  animation: bounce 3s infinite 2s;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}



